body
  width: 1000px
  margin: 0 auto

#logo
  background: url("/images/logo-narrow.png") center no-repeat
  height: 100px
  margin-top: 88px
  display: block

h2
  text-align: center
  font-size: 2em
  margin: 20px

.section-intro h3
  font-size: 1.3em
  padding-bottom: 12px

.section-quote
  padding: 40px 0 20px 20px
  margin: 0px

.section-intro
  margin: 20px 0
  padding-top: 20px

.quote,
.profilepicture,
.about-p1,
.about-p2
  display: inline-block
  vertical-align: top

.quote
  width: 64%

.profilepicture
  padding-left: 70px

.about-me
  width: 100%
  text-align: center
  padding: 20px 0
  margin: 20px 0

.about-p1,
.about-p2
  width: 48%
  text-align: left

.contactgegevens
  width: 100%
  padding: 20px 0
  margin: 0 0 40px 0

  p
    width: 41%
    margin: 0 auto
