body
  min-width: 451px
  background: $light-blue

.contactgegevens
  background-color: $blue
  width: 340px
  padding: 1px 0 1px 18px
  margin: 0 auto
  display: block
  color: white

  h2
    font-size: 1em
    margin: 5px 0
    font-weight: bold

#logo
  background: url("/images/GeurtsLogoSmall.png") center no-repeat
  display: block
  position: absolute
  left: 267px
  bottom: 640px
  width: 185px
  height: 284px

.quote
  text-align: center
  padding: 10px 15px
  margin: 10px auto
  display: block

.image-header
  background: url("/images/stock.jpg") no-repeat
  height: 150px
  background-size: cover

.about-me
  margin-top: 80px

  p
    padding: 15px

hr
  margin: 20px 62px
  border: none
  border-bottom: 1px solid $blue
