.content
  padding: 10px
  border: 1px solid black
  margin: 10px
  background-color: cornflowerblue
  color: white

.invisible
  color: cornflowerblue

#logo, .profile-pic, .navigatie
  width: 100px
  height: 100px
  margin: 10px

#logo, .navigatie
  display: inline-block
