#logo
  background: url("/images/logo-narrow.png") left no-repeat
  height: 100px
  margin: 15px

.quote,
.profilepicture
  display: block

.section-quote,
.about-me,
.contactgegevens
  background-color: hotpink
  margin: 10px
  padding: 28px
