body
  padding: 10px

section

  img
    width: 280px
    height: 240px
    margin-top: 25px
    margin-left: 20px

  nav
    text-align: center

    li
      color: #67a2c0
      text-align: center
      display: inline-block
      padding: 0 70px
      margin: 8px
      font-size: 18px

    a
      color: #67a2c0
      font-size: 20px
      text-decoration: none

.logo
  position: relative
  left: 40%

h1
  font-size: 28px
  text-align: center
  padding-top: 25px
  padding-bottom: 20px
  font-style: italic

h2
  color: #67a2c0
  font-size: 20px
  font-style: bold

.home
  text-align: center

  p
    height: 120px

.home-content
  width: 305px
  display: inline-block
  vertical-align: top
  text-align: left
  padding: 10px
  margin-top: 20px

  a
    color: #67a2c0
    display: block
    text-align: left

hr
  margin: 20px 80px
  border: none
  border-bottom: 1px solid #b39a00
