.content
  position: relative
  padding: 10px
  border: 1px solid black
  margin: 10px
  background-color: cornflowerblue
  color: white

.invisible
  color: cornflowerblue

.label
  position: relative

#logo, #profilepic
  width: 200px
  height: 200px
  margin: 10px auto
