.mod-training
  width: 428px
  display: block

.section-quote, .section-intro, .mod-training-part
  display: none

.content
  padding: 10px
  border: 1px solid black
  margin: 10px
  background-color: cornflowerblue
  color: white

.invisible
  color: cornflowerblue

#logo, .profile-pic
  width: 200px
  height: 200px
  margin: 10px auto


